<header class="header">
    <h1>Iconos de PrimeNG</h1>
</header>
<button class="click-2" style="position: absolute;" routerLink="">
  <i class="pi pi-warehouse" style="position: center;"></i>
</button>
<button class="click-1" style="position: absolute;" routerLink="/lista-trabajos">
    <i class="pi pi-folder" style="position: center;"></i>
</button>
<div class="flex justify-content-center align-items" style="height: 50px;">
    <button class="click" routerLink="/entregable-2">Atras</button>
  </div>
