body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    background-color: #007afd;
    color: white;
    padding: 5px;
    text-align: center;
}

.box {
    background-color: #007afd;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMo1IR674T9A1BrA3VANDBpzSHDGGVHY88IQ&s');
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #007afd;
}
