<header class="header">
    <h1>Entregable Matrices</h1>
</header>
<button class="click-1" style="position: absolute;" routerLink="/lista-trabajos">
  <i class="pi pi-folder" style="position: center;"></i>
</button>
<button class="click-2" style="position: absolute;" routerLink="">
  <i class="pi pi-warehouse" style="position: center;"></i>
</button>
<br>
<br>
<br>
<body>
  <!-- Matriz 3x3 -->
  <h2>Matriz 3x3</h2>
  <div class="grid">
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 1</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 2</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 3</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 4</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 5</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 6</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 7</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 8</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">Cuadro 9</div></div>
  </div>
  <br>

  <!-- Matriz 4x4 -->
  <h2>Matriz 4x4</h2>
  <div class="grid">
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 1</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 2</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 3</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 4</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 5</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 6</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 7</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 8</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 9</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 10</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 11</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 12</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 13</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 14</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 15</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">Cuadro 16</div></div>
  </div>
  <br>

  <!-- Matriz 5x5 -->
  <h2>Matriz 5x5</h2>
  <div class="grid">
    <!-- Fila 1 -->
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 1</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 2</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 3</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 4</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 5</div>
    </div>
  
    <!-- Fila 2 -->
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 6</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 7</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 8</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 9</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 10</div>
    </div>
  
    <!-- Fila 3 -->
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 11</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 12</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 13</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 14</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 15</div>
    </div>
  
    <!-- Fila 4 -->
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 16</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 17</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 18</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 19</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 20</div>
    </div>
  
    <!-- Fila 5 -->
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 21</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 22</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 23</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 24</div>
    </div>
    <div class="col-12 md:col-2 lg:col-2">
      <div class="box">Cuadro 25</div>
    </div>
  </div>
  <br>

  <!-- Matriz 6x6 -->
  <h2>Matriz 6x6</h2>
  <div class="grid">
     <!-- Fila 1 -->
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 1</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 2</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 3</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 4</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 5</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 6</div>
  </div>

  <!-- Fila 2 -->
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 7</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 8</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 9</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 10</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 11</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 12</div>
  </div>

  <!-- Fila 3 -->
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 13</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 14</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 15</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 16</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 17</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 18</div>
  </div>

  <!-- Fila 4 -->
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 19</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 20</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 21</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 22</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 23</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 24</div>
  </div>

  <!-- Fila 5 -->
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 25</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 26</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 27</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 28</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 29</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 30</div>
  </div>

  <!-- Fila 6 -->
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 31</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 32</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 33</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 34</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 35</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">Cuadro 36</div>
  </div>
  </div>
  <br>

  <div class="flex justify-content-center align-items" style="height: 50px;">
    <button class="click" routerLink="">
      <i class="pi pi-arrow-left"></i>
    </button>
    <button class="click" routerLink="/entregable-1">
      <i class="pi pi-arrow-right"></i>
    </button>
  </div>
</body>
