<header class="header">
    <h1>Entregable 2</h1>
</header>
<button class="click-1" style="position: absolute;" routerLink="/lista-trabajos">
    <i class="pi pi-folder" style="position: center;"></i>
</button>
<button class="click-2" style="position: absolute;" routerLink="">
    <i class="pi pi-warehouse" style="position: center;"></i>
</button>
<br>
<br>
<br>
<br>
<div class="grid">
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Lorem ipsum dolor sit amet</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Consectetur adipiscing elit</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Sed do eiusmod tempor</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Incididunt ut labore et dolore</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Magna aliqua ut enim ad</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Minim veniam quis nostrud</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Exercitation ullamco laboris</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Nisi ut aliquip ex ea commodo</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Consequat duis aute irure dolor</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">In reprehenderit in voluptate</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Velit esse cillum dolore eu</div>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box">Fugiat nulla pariatur excepteur</div>
    </div>
</div>
  
<div class="flex justify-content-center align-items" style="height: 50px;">
    <button class="click" routerLink="/entregable-1">Atras</button>
    <button class="click" routerLink="/iconos">Siguiente</button>
</div>
