<header class="header">
  <h1>Entregable 2</h1>
</header>
<button class="click-1 absolute" routerLink="/lista-trabajos">
  <i class="pi pi-folder"></i>
</button>
<button class="click-2 absolute" routerLink="">
  <i class="pi pi-warehouse"></i>
</button>
<br>
<br>
<br>
<div class="grid grid-nogutter p-4 gap-0">
  <div *ngFor="let card of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3 p-3">
    <p-card [style]="{ width: '100%', overflow: 'hidden' }">
      <ng-template pTemplate="header">
        <img alt="Card" class="w-full" src="https://e1.pxfuel.com/desktop-wallpaper/860/21/desktop-wallpaper-dark-night-aesthetic-laptop-dark-aesthetics.jpg" />
      </ng-template>
      <ng-template pTemplate="title"> Card {{ card }} </ng-template>
      <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-2 mt-1">
          <p-button label="Cancel" severity="secondary" [outlined]="true" class="w-full" />
          <p-button label="Save" class="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<div class="flex justify-content-center align-items" style="height: 50px;">
  <button class="click" routerLink="/entregable">
    <i class="pi pi-arrow-left"></i>
  </button>
  <button class="click" routerLink="/iconos">
    <i class="pi pi-arrow-right"></i>
  </button>
</div>
