.header {
    background-color: #007afd;
    color: white;
    padding: 5px;
    text-align: center;
}

.box {
    background-image: url('https://media.istockphoto.com/id/1251007701/es/foto/fondo-degradado-de-colores-borrosos-abstractos-en-estilo-suave.jpg?s=612x612&w=0&k=20&c=-jYgIoiQGkrQX_aFm_xJArkjqRJmsnCpAoHh_fDXB3k=');
}