<header class="header">
    <h1>Lista de los Trabajos Realizados</h1>
</header>
<button class="click-2" style="position: absolute;" routerLink="">
  <i class="pi pi-warehouse" style="position: center;"></i>
</button>
<br>
<br>
<br>
<br>
<div class="grid">
    <!-- Tarjeta 1 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Entregable</h2>
        <p style="margin: 10px 0;">Cuadros Responsivos con las matrices 3x3, 4x4, 5x5 y 6x6.</p>
        <button class="click" routerLink="/entregable">
          <i class="pi pi-file"></i>
        </button>
      </div>
    </div>
    <!-- Tarjeta 2 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Entregable 1</h2>
        <p style="margin: 10px 0;">Cuadros responsivos que se ajustan a la pantalla de la forma que se solicito.</p>
        <button class="click" routerLink="/entregable-1">
          <i class="pi pi-file"></i>
        </button>
      </div>
    </div>
    <!-- Tarjeta 3 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Entregable 2</h2>
        <p style="margin: 10px 0;">12 cuadros responsivos donde se adaptan al cambio de la pantalla.</p>
        <button class="click" routerLink="/entregable-2">
          <i class="pi pi-file"></i>
        </button>
      </div>
    </div>
    <!-- Tarjeta 4 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Iconos</h2>
        <p style="margin: 10px 0;">Muestra todos los iconos disponibles de la pagina PrimeNG.</p>
        <button class="click" routerLink="/iconos">
          <i class="pi pi-file"></i>
        </button>
      </div>
    </div>
  </div>
