/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/lara-light-indigo/theme.css';

.box {
  background-image: url('https://img.freepik.com/foto-gratis/paisaje-brumoso-bosque-cubierto-niebla-oscuras-nubes-tormenta_181624-25465.jpg'); 
  background-size: cover;
  background-position: center; 
  border-radius: 11px; 
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 180px; 
  color: white; 
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

  .click {
    background-color: #007afd;
    border: none; 
    border-radius: 8px; 
    font-size: 18px; 
    padding: 12px 24px; 
    color: white; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-right: 25px;
  }

  .click:hover {
    background-color: #3e8bdd;
    color: black;
  }

  .click:focus {
    outline: none; 
  }

  .click:active {
    background-color: #002349;
  }

  .click-1 {
    background-color: #007bff; 
    border: none; 
    border-radius: 8px; 
    font-size: 18px; 
    padding: 12px 24px; 
    color: white; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-left: 2px;
    margin-top: 12px;
  }

  .click-1:hover {
    background-color: #3e8bdd;
    color: black;
  }

  .click-1:focus {
    outline: none; 
  }

  .click-1:active {
    background-color: rgba(105, 102, 102, 0.301);
  }

  .click-2 {
    background-color: #007bff; 
    border: none; 
    border-radius: 8px; 
    font-size: 18px; 
    padding: 12px 24px; 
    color: white; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-left:1068px;
    margin-top: 12px;
  }

  .click-2:hover {
    background-color: #3e8bdd;
    color: black;
  }

  .click-2:focus {
    outline: none; 
  }

  .click-2:active {
    background-color: rgba(105, 102, 102, 0.301);
  }
  