<header class="header">
  <h1>Entregable 1</h1>
</header>
<button class="click-1" style="position: absolute;" routerLink="/lista-trabajos">
  <i class="pi pi-folder" style="position: center;"></i>
</button>
<button class="click-2" style="position: absolute;" routerLink="">
  <i class="pi pi-warehouse" style="position: center;"></i>
</button>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="grid">
  <div class="col-4 col-offset-4">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">5</div>
  </div>
</div>
<br>
<div class="grid">
  <div class="col-3">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">3</div>
  </div>
  <div class="col-5 col-offset-4">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">4</div>
  </div>
</div>

<br>


<div class="flex flex-wrap justify-content-center column-gap-3 row-gap-3">
  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">1</div>
  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">2</div>
  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">3</div>
  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">4</div>
  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">5</div>
  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">6</div>
  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">7</div>
  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">8</div>
</div>

<br>

<div class="grid">
  <div class="col-4 col-offset-8">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">5</div>
  </div>
</div>


<br>

<div class="flex justify-content-between align-items-center">

  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">2</div>

  <div style="flex-grow: 1;"></div>

  <div class="border-round w-6rem h-6rem bg-primary font-bold flex align-items-center justify-content-center">2</div>
</div>

<br>

<div class="grid">
  <div class="col-6 col-offset-3">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div>
  </div>
</div>
<br>
<br>
<div class="flex justify-content-center align-items" style="height: 50px;">
  <button class="click" routerLink="/entregable">
    <i class="pi pi-arrow-left"></i>
  </button>
  <button class="click" routerLink="/entregable-2">
    <i class="pi pi-arrow-right"></i>
  </button>
</div>
